body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

#under-construction {
    color: #555;
    display: flex;
    width: fit-content;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 2em;    
}

.container {
    display: flex;
}

.sidebar {
    width: 360px;
    background-color: #333;
    color: #fff;
    padding: 40px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    background-image: url("../media/bg.png");
    background-size: cover;
}

.sidebar header {
    text-align: center;
}

.sidebar img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.content {
    margin-left: 440px;
    padding-left: 180px;
    padding-right: 180px;
}

.about-content {
    text-align: justify;
    text-justify: inter-word;
}

/* Style for the projects section */
.project {
    margin-bottom: 20px;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-top: 25px;
    display: block;
    margin: auto;
}
.videowrapper iframe {
    display: block;
    margin: auto;
    width: 512px;
    height: 288px;
}

h3 {
    font-size: 30px;
}

a {
text-decoration: none;
display: block;
}

.icon-link {
    color: #333;
    display: flex;
    text-decoration: none;
    font-size: 20px;
}

.icon-tab {
    display: flex;
    margin-bottom: 10px;
}

hr {
    display: block;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

.img-row {
    display: flex;
}

.img-row .img-container {
    width: 30%;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
}

.caption {
    display: block;
    margin: auto;
    width: fit-content;
}


/* Slider */

.slider-wrapper {
    padding-top: 2em;
    display: flex;
}

.slider {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .slides {
    display: flex;
    overflow-x: hidden;
  }
  
  .slides img {
    width: 100%;
    display: none;
  }
  
  .slides img:first-child {
    display: block;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 7px 5px 7px ;
    background: #555;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  